<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_tuni_dmnager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logocolor"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APP_Tuni_Déménager">
        <activity
            android:name=".MainActivity"
            android:exported="true" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".accueil_tuni_demenager"></activity>
        <activity android:name=".infodemenageur"></activity>
        <activity android:name=".envoyer_demande_devis_dem"></activity>
        <activity android:name=".envoyer_message"></activity>
        <activity android:name=".listmessage"></activity>
        <activity android:name=".connexion" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".inscription" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".profil_client"></activity>
        <activity android:name=".list_devis"></activity>
        <activity android:name=".envoyer_demande_demenagement"></activity>
        <activity android:name=".liste_demande_devis_demenagement"></activity>
        <activity android:name=".List_demande_demenagement"></activity>
        <activity android:name=".welcome"></activity>


    </application>

</manifest>